node_modules/
*/node_modules/

.env
.env.*
!.env.example
*/env
*/\.env
*/\.env.*
!*/.env.example

dist/
build/
*/dist/
*/build/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db
desktop.ini

uploads/

postman/
.postman/